.header {
  background-color: transparent;
  background-size: cover;
  background-position: center;
  position: relative;
  width: 100%;
  height: auto; /* Set a height for your header */
}
.header img {
  opacity: 0.8;
  max-width: 100%;
  width: 100%;
  height: auto; 
  object-fit: fill;

}
.header-overlay {
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.9;
  display: flex;
  justify-content: left;
  align-items: center;
}

.header-content {
  text-align: left; /* Align the content to the left */
  margin: 75px;
}

.header-texts {
  display: inline-block; /* Display the texts inline */
  margin: 5px 20px;
  padding: 15px;
  
}
.header-text:hover {
  color: #ffffff;
}

.header-text {
  color: red;
  margin-right: 1rem; /* Add margin to the right to separate the texts */
  font-size: 3rem;
  cursor: pointer;
  display: inline-block; /* Display the texts inline */
}

.header-text:last-child {
  margin-right: 0; /* Remove margin from the last text */
}

.header-subtitle {
  font-weight: 900;
  font-size: 3rem;
  margin-bottom: 1.2rem;
}

.header-title {
  font-weight: 900;
  font-size: 3rem;
  margin-bottom: 2rem;


  
}

.header-description {
  font-size: 2rem;
}
.bold-text {
  background-color: #ff0000;
  color: #ffffff;
  padding: 5px;
  opacity: 0.8;
  font-weight: 900;
}
.navbar-container {
  position: absolute;
  bottom: 0;
  width: 100%;
}


/* Media query for screens less than 800px wide */
@media (max-width: 1200px) {
  .header-content {
    margin: 3rem;
  }

  .header-text {
    font-size: 2rem;
    margin-right: 0.6rem;
  }

  .header-subtitle {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  .header-title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  .header-description {
    font-size: 1.5rem;
  }
}

@media (max-width: 1000px) {
  .header-content {
    margin: 3rem;
  }

  .header-text {
    font-size: 2rem;
    margin-right: 0.6rem;
  }

  .header-subtitle {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  .header-title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  .header-description {
    font-size: 1.5rem;
  }
}


@media (max-width: 800px) {
  .header-content {
    margin: 3rem;
  }

  .header-text {
    font-size: 1.5rem;
    margin-right: 0.6rem;
  }

  .header-subtitle {
    font-size: 1rem;
    margin-bottom: 1rem;
  }

  .header-title {
    font-size: 1rem;
    margin-bottom: 1rem;
  }

  .header-description {
    font-size: 1rem;
  }
}

@media (max-width: 600px) {
  .header-content {
    margin: 15px;
  }

  .header-text {
    font-size: 0.8rem;
    margin-right: 0.5rem;
  }

  .header-subtitle {
    font-size: 0.6rem;
    margin-bottom: 0.5rem;
  }

  .header-title {
    font-size: 0.6rem;
    margin-bottom: 1rem;
  }

  .header-description {
    font-size: 0.6rem;
  }
}