* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial;
  background: #f1f1f105;
}

/* Header/Blog Title */
.header {
  text-align: center;
  background: rgb(0, 0, 0);
}

.header h1 {
  font-size: 50px;
}
.header img {
  max-width: 100%;
  width: auto;
  height: 500px;
  object-fit: fill;
}
/* Style the top navigation bar */
.topnav {
  
  background-color: #000000;
  padding: 5px;
 
 
}
.topnav nav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* Style the topnav links */
.topnav a {
 
  border: 1px solid #ff0000;
  border-radius: 7px;
  color: #ff0000;
  background-color: #000000;
  display: inline-block;
  margin: 10px;
  padding: 14px 16px;
  text-align: center;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  border: 1px solid #ffffff;
  border-radius: 15px;
  transition: 500ms;
  background-color: #111111d5;
  color: #ffffff;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.body {

  border-radius: 7px;
  float: left;
  width: 71%;
  margin: 1%;
}

.static-offer_top {
  color: #111111;
  display: block;
}
/*creates a red cicle*/
.circle {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  padding: 20px;
  margin: 10px;
}
.circle-h1 {
    color: white;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    margin: 0;
    padding: 0;
  }

.static-offer_middle {
  display: flex;
  justify-content: center;
}
.static-offer_middle__right, .static-offer_middle__left {
  flex-basis: 50%;
}


.static-offer_bottom div {
  display: inline-block;
  margin: 5px;
  overflow: auto;
  text-align: center;

  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  padding: 20px;
  margin: 10px;
  width: 250px;
}
.static-offer_bottom img {
 width: 100%;
 height: auto;
}




/* Right column */
.aside {
  border-radius: 7px;
  float: left;
  width: 22%;
  background-color: #f1f1f1;
  margin: 1%;
  padding: 0;
}
.aside img {
  max-width: 100%;
  width: 450px;
  height: auto;
}

/* Fake image */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

/* Add a card effect for articles */
.card {
  text-align: center;
  background-color: f1f1f1;
  border: 1px solid #414a4c;
  border-radius: 15px;
  padding: 20px;
  margin: 20px 0;
}
.card1 {
  text-align: center;
  background-color: f1f1f1;
  border: 1px solid #414a4c3a;
  border-radius: 15px;
  padding: 0;
  margin: 0;
}
.card:hover {
  background-color: #e5e4e2;

  transition: 500ms;
}
.card img, .card1 img {
  border-radius: 15px;
  max-width: 100%;
  height: auto;
}

/* Clear floats after the columns */
.row::after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  color: #ffffff;
  padding: 10px;
  text-align: center;
  background: #000000;
  margin-top: 20px;
}
.footer h2 {
  color: #e60000;
}







/*Css for imageTextBlock component*/
.image-text-block-container {
  position: relative;
  font-family: Arial;
}
.image-text-block-container img {
  width:100%;
}

.image-text-block {
  width: 50%;
  position: absolute;
  bottom: 20px;
  left: 20px;
  background-color: rgba(0, 0, 0, 0.616);
  border-radius: 15px;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}
/*
 .image-text-block {
    width: 50%;
    height: auto;
    bottom: 5px;
    right: 5px;
    font-size: 5px;
    padding-left: 5px;
    padding-right: 5px;;
  }*/
/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .header img {
    max-width: 100%;
    width: 100%;
    height: auto;
  }
  .body,
  .aside {
    width: 100%;
    padding: 0;
  }
 /*Css for imageTextBlock component*/
.image-text-block-container {
  position: relative;
  font-family: Arial;
}
.image-text-block-container img {
  width:100%;
}

.image-text-block {
 font-size: 5px;

  width: 50%;
  height: auto;
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: rgba(0, 0, 0, 0.616);
  border-radius: 15px;
  color: white;
  padding-left: 5px;
  padding-right: 5px;
}
    
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {

  .topnav {
    padding: 25px;
  }
  .topnav a {
    float: none;
    width: 100%;
}
  .static-offer_middle {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .static-offer_middle__right, .static-offer_middle__left {
    width: 100%;
    max-width: 300px;
    height: auto;
    font-size: 16px;
    text-align: center;
    margin: 10px;
    padding: 10px;
  }
  
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 10px;
}
.static-offer_middle {
  display: flex;
  align-items: center;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3b5998;
  color: white;
}

.fa-twitter {
  background: #55acee;
  color: white;
}
.fa-instagram {
  background: #125688;
  color: white;
}
