* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial;
  background: #f1f1f1;
}

/* Header/Blog Title */
.header {
  padding: 30px;
  text-align: center;
  background: white;
}

.header h1 {
  font-size: 50px;
}
.header img {
  max-width: 100%;
  width: 450px;
  height: auto;
}
/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #111111;  
}

/* Style the topnav links */
.topnav a {
  border: 1px solid #353839;
  border-radius: 7px;
  margin: 10px;
  padding: 10px;
  float: right;
  display: block;
  color: #FF0800;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  border: 1px solid #FF0800;
  border-radius: 10px;
  transition: 500ms;
  background-color: #414A4C;
  color: #FF0800;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.body {  
 border: 7px solid #35383976;
 border-radius: 7px;
  float: left;
  width: 71%;
  margin: 1%;
}

/* Right column */
.aside {
  border: 1px solid #FF0800;
  border-radius: 7px;
  float: left;
  width: 22%;
  background-color: #f1f1f1;
  margin: 1%;
  padding: 10px;
}
.aside img {
  max-width: 100%;
  width: 450px;
  height: auto;
}

/* Fake image */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

/* Add a card effect for articles */
.card {
  text-align: center;
  background-color: f1f1f1;
  border: 1px solid #414A4C;
  border-radius: 15px;
  padding: 20px;
  margin: 20px 20px;
}
.card:hover {
  background-color: #E5E4E2;
  
  transition: 500ms;
}
.card img {
  border-radius: 15px;
  max-width: 100%;
  height: auto;
}

/* Clear floats after the columns */
.row::after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  padding: 10px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}
.footer h2 {
  color: #FF0800;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .body, .aside {   
    width: 100%;
    padding: 0;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}