.nav-link {
  font-weight: 800;
}

.nav-link:hover {
  box-shadow: 1px 1px 5px #ff0000;
}
.active {
  background-color: #ff000035;
  color: #ffffff;
 
}
@media screen and (min-width: 1001px) {
  .nav-item {
    width: 170px;
  }
}
